.App {
  background-color: #bf5b5b;
  color: white;
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-starWarsLogo {
  height: 17vmin;  
  pointer-events: none;
  margin:0px;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 25s linear;
  }
}

.App-header {
  background-color: #949494;
  min-height: 100vh;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #222222;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 */